{% extends "document.html" %}

{% block body %}
<div class="col-md-12">

    <div class="id-card pt-3 pb-3">
        <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center">
                <div>Republic of the Philippines</div>
                <div>Municipality of Buenavista</div>
                <div class="mb-2">Province of Guimaras</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="profile-photo">
                    {% if person.profilePhoto %}
                    <img src="{{person.profilePhoto|s3_url('medium')}}" alt="photo">
                    {% else %}
                    <span class="initials">{{person.firstName|first}} {{person.lastName|first}}</span>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4 text-center">
                <h1>{{person.firstName}} {{person.lastName}}</h1>
            </div>
            <div class="col-md-4 text-center">
                {{qrCodeSvg|safe}}
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{app.url}}/js/vue-ph-address.js"></script>
<script>
    var vApp = new Vue({
        el: '#vApp',
        delimiters: ["${", "}"],
        mixins: [
            window.vuelidate.validationMixin,
            window.vuelidateExtendMixin,
        ],
        data: {
            photo: '',
        },
        validations: {
        },
        methods: {
            onSubmit: function(){
                var me = this;
                me.$v.$touch()
                if (me.$v.$error) {
                    alert('Please correct the errors to continue.')
                } else {
                    me.$nextTick(function() {
                        me.$refs.form.submit();
                    });
                }
            }
        }
    });
</script>
{% endblock %}

